@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700&display=swap');

body {
    font-family: $font-primary;
}

.title-bar {
    background: red;
    height: 6rem;
}

.navigation.primary-btn {
    background: blue;
    height: 100%;
}