@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700&display=swap');

body {
    font-family: $font-primary;
}

.title-bar {
    background: red;
    height: 6rem;
}

.primary-btn {}

.navigation {
    height: 100%;
    width: 100px;

    .fa {
        color: blue
    }
}

.logo {
    height: inherit;
    padding: 0.5rem;
}

.logo img {
    height: 100%;
    object-fit: contain;
}

.navigation.secondary-btn {
    height: 100%;
}
