$theme-colors: ("primary": rgb(207, 46, 46));

$premier-league-green: #23FF75;
$premier-league-purple: #29002E;

$europa-league-orange :#FD9230;
$europa-league-black :#121212;

$font-primary: "Libre Franklin",
-apple-system,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
